{box-sizing: border-box;}
body{
   background-color: purple;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Кнопка, используемая для открытия контактной формы*/
.open-button {
  background-color: orange;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 600px;
}
textarea {
  width: 90%;
  height: 150px;
  resize: none;
}

/* Всплывающая форма-скрыта по умолчанию */
.form-popup {
 position: fixed;
  overflow: auto;
 bottom:0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.8);
  display: none;
  align-items: center;
  justify-content: center;

}
/* Добавить стили для контейнера формы */
.form-container {
  border: 6px solid orange;
   margin: 0 auto;
  max-width: 600px;
  padding: 10px;
  background-color: pink;
  border-radius: 0.5em;
}

/* Поля ввода полной ширины */
.form-container input[type=text], .form-container input[type=nme] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* Когда входы получают фокус, сделайте что-нибудь */
.form-container input[type=text]:focus, .form-container input[type=nme]:focus {
  background-color: #ddd;
  outline: none;
}

/* Установите стиль для кнопки отправить/войти */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Добавить красный цвет фона для кнопки "Отмена" */
.form-container .cancel {
  background-color: red;
}

/* Добавить некоторые эффекты наведения на кнопки */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
  /*font-size: 20px;
  padding: 5px;*/
}